api/gen/** linguist-generated=true
server/internal/database/gen/** linguist-generated=true
clients/web/src/api/schema.d.ts linguist-generated=true
clients/web/src/routeTree.gen.ts linguist-generated=true
