.env.local

# Go
/server/tend-server
/server/dev-oidc
/cli/tend

# Web
node_modules/
dist/
/web/src/routeTree.gen.ts
/web/src/api/schema.d.ts

# tilt
.tilt/

# dprint
.dprint/

# typespec
tsp-output/

# playwright
.playwright-cli/
.playwright/
